body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#gameName {
  font-size: 2em;
  font-style: italic;
  font-weight: 600;
  font-family: sans-serif;
}
#displayBoard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  aspect-ratio: 1;
  border: 0.5em solid rgb(21, 87, 255);
}

.grid-row {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  /* border: 1px solid #cf1414;
  box-sizing: border-box; */
}
.grid-column {
  flex-grow: 1;
  /* border: 1px solid #0d0dd0;
  box-sizing: border-box; */
}

#resetButton {
  margin: 0.25em;
}
